<section class="main-content">
<div class="mapa-layout">
  <div class="map-wrapper">
    <div class="map-container" #map></div>
    @if (toastMensaje(); as mensaje) {
      <div class="mapa-toast">{{ mensaje }}</div>
    }
    <app-vendor-list
      [vendedores]="vendedores()"
      [selectedId]="seleccionado()"
      (vendedorSeleccionado)="centrarEnVendedor($event)"
      (trayectoriaToggled)="toggleTrayectoria({ codigo: $event.vendedorId, tipo: $event.vendedorCodigo, nombre: $event.vendedorNombre })">
    </app-vendor-list>
    @if (nodosSeleccionados().length > 0) {
      <app-tramos-table [nodos]="nodosSeleccionados()" (centrarEnNodo)="centrarEnNodoDelMapa($event)"></app-tramos-table>
    }
  </div>
</div>
</section>
