<section class="main-content">
    <ul class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item">
            <h5 class="page-title m-b-0">Resultado de la Facturación</h5>
        </li>

        <li class="breadcrumb-item bcrumb-1">
            <a routerLink="/" class="d-flex align-items-center">
                <i class="fas fa-home font-20"></i>
            </a>
        </li>

        <li class="breadcrumb-item bcrumb-2">
            <a routerLink="/ventas" class="d-flex align-items-center">
                Ventas por Facturar
            </a>
        </li>
    </ul>
    <div class="section-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="d-flex">
                            <label class="col-form-label msr-3">Buscar:</label>
                            <input type="text" class="form-control" (keyup)='updateFilter($event)'>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex">
                            <label class="col-form-label msr-3">{{venta?.nombreCliente ?? ''}}</label>
                        </div>
                    </div>
                </div>
                <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'">

                    <ngx-datatable-row-detail [rowHeight]="getRowDetailHeight" #myDetailRow>
                        <ng-template let-row="row" ngx-datatable-row-detail-template>
                            <div style="padding-left:50px; margin-bottom: 20px;">
                                <h5 class="text-muted">Detalle de Ítems - Factura: {{row.factura}}</h5>

                                <table class="table table-sm table-hover border">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Código</th>
                                            <th>Cant. Asignada</th>
                                            <th>Venta</th>
                                            <th>Numeración (Asignados)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of row.items">
                                            <td>{{ item.codigoProducto }}</td>
                                            <td>{{ item.cantidadAsignada }}</td>
                                            <td>{{ item.valorTotalVentaNeta | currency }}</td>
                                            <td>
                                                <small class="badge bg-info text-dark"
                                                    *ngFor="let nro of item.numeracion?.numerosPiezasAsignadas">
                                                    {{ nro }}
                                                </small>
                                                <div *ngIf="item.numeracion?.cantidadFaltantes > 0"
                                                    class="text-danger small">
                                                    Faltantes: {{ item.numeracion.cantidadFaltantes }}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngx-datatable-row-detail>

                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                        [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                [class.datatable-icon-down]="expanded" title="Expandir/Colapsar"
                                (click)="toggleExpandRow(row)">
                            </a>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Factura" prop="factura"></ngx-datatable-column>
                    <ngx-datatable-column name="Fecha" prop="fecha">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total" prop="total">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <strong>{{ value | currency }}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </div>

</section>